@layout('layouts.app')
 
@section('content')
<!-- Page Header -->

 
    <!-- Main Content -->
<div class="container" style="margin-top:160px">
    <h1 align ="center">You have been logged out!</h1>
    <br>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h3 align="center">Click Welcome to log in again.</h3>
      <a class="btn btn-success float-right" href="/" style="color:white">Welcome</a>
    </div>
  </div>
</div>
@endsection